

.SearchBox input {
    width: 97%;
    border-radius: 10px;
    padding: 10px 10px 10px 60px;
    margin: 10px 1% 1vh 0;
    font-size: 16px;
}

.magnifier {
    color: #333;
    position: absolute;
    font-size: 20px;
    left: 43%;
    top: 22px;
}